<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Student Register Form</title>
	<link rel="stylesheet" href="/css/student-form.css">
</head>

<body>

	<form action="#" th:action="@{/students/save}" th:object="${student}" method="POST" class="student-form">

		<input type="hidden" th:field="*{id}">

		<h1>Student Register Form</h1>

		<div class="form-field">
			<p>First Name:
				<input type="text" th:field="${student.firstName}">
			</p>

			<p>
				Last Name:
				<input type="text" th:field="*{lastName}" />
				<!-- Display error message if any -->
				<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
			</p>

			<p>
				Email Address:
				<input type="text" th:field="${student.email}">

				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">
			</p>

			<p>
				<input type="submit" value="Save" class="button">
			</p>
			
			<p>
				<a th:href="@{/students/studentList}" class="button">Return Student List Page</a>
			</p>
			

		</div>



	</form>

</body>

</html>