<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>

<head>
	<meta charset="UTF-8">
	<title>Student Info List</title>
	<script src="/js/student-list.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<form action="#" th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" class="logout" />
	</form>

	<!--	<p>-->
	<!--		USER: <span sec:authentication="principal.username"></span> <br><br>-->

	<!--		ROLE: <span sec:authentication="principal.authorities"></span>-->

	<!--	</p>-->

	<p>
		USER: <span sec:authentication="name"></span> <br><br>
		ROLE: <span sec:authentication="authorities"></span>
	</p>

	<!-- Display success message -->
	<div th:if="${successMessage}" th:text="${successMessage}"></div>

	<!-- Display error message -->
	<div th:if="${errorMessage}" th:text="${errorMessage}"></div>

	<h1>Student List</h1>

	<a th:href="@{/students/add}" class="button">Add New Student</a>
	
<!--	<form>-->
<!--		<p>-->
<!--			<input type="text" onkeyup="filterTable()" placeholder="Search by student id" />-->
<!--			<input type="text" onkeyup="filterTable()" placeholder="Search by last name" />-->
<!--		</p>-->
		
<!--		<button >Search</button>-->
<!--	</form>-->
	
	<form th:action="@{/selectedStudents}" method="GET">
	    <input type="text" name="lastName" placeholder="Search by last name" th:value="${searchLastName}" />
	    <input type="text" name="email" placeholder="Search by email" th:value="${searchEmail}" />
	    <button type="submit">Search</button>
	</form>

	<!--	<a th:href="@{/students/deleteMultipleStudents}" class="delete_button">Delete Selected Students</a>-->

	<form th:action="@{/students/deleteSelectedStudents}" method="POST">
		<button type="submit" class="delete_button">Delete Selected Students</button>

		<table class="header">
			<thead>
				<tr>
					<th><input type="checkbox" class="student_checkbox" onclick="toggleSelection(this)"> Select All</th>
					<th>Student No</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>View Student Details</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempStudent : ${student}">
					<td><input type="checkbox" name="studentIds[]" th:value="${tempStudent.id}"
							class="student_checkbox" /></td>
					<td th:text="${tempStudent.id}"></td>
					<td th:text="${tempStudent.firstName}"></td>
					<td th:text="${tempStudent.lastName}"></td>
					<td><a th:href="@{/students/getStudentProfile(studentId=${tempStudent.id})}">View Details</a></td>
					<td>
						<a th:href="@{/students/update(studentId=${tempStudent.id})}" class="button">Update</a>
						<a th:href="@{/students/delete(studentId=${tempStudent.id})}" class="action_delete"
							onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
							
						<a th:href="@{/students/exportFormStudent(studentId=${tempStudent.id})}" class="button">Export From</a>		
					</td>
				</tr>
			</tbody>
		</table>

		<!--		 Pagination Controls -->
<!--		<div class="pagination">-->
<!--			<ul>-->
<!--				 Previous Page Link -->
<!--				<li th:if="${currentPage > 0}">-->
<!--					<a th:href="@{/students/studentList(page=${currentPage - 1}, size=${pageSize})}">&laquo; Previous</a>-->
<!--				</li>-->

<!--				 Page Numbers -->
<!--				<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">-->
<!--					<a th:href="@{/students/studentList(page=${i}, size=${pageSize})}" th:text="${i + 1}"-->
<!--						th:classappend="${i == currentPage} ? 'active'"></a>-->
<!--				</li>-->

<!--				 Next Page Link -->
<!--				<li th:if="${currentPage < totalPages - 1}">-->
<!--					<a th:href="@{/students/studentList(page=${currentPage + 1}, size=${pageSize})}">Next &raquo;</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->

	</form>

</body>

</html>