<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>Login</title>

	<style>
		.error {
			color: red;
			font-weight: bold;
		}
	</style>

</head>

<body>

	<h1>Student Management System!</h1>

	<!-- Table to display student information -->

	<form action="#" th:action="@{/authenticateTheUser}" method="POST">

		<div th:if="${param.error}">

			<div class="error">ユーザー名もしくはパスワードが正しくない</div>
			
		</div>

		<div th:if="${param.logout}">

			<div class="error">ログアウトしますした。</div>

		</div>

		<p>
			User Name: <input type="text" name="username" placeholder="User Name" />
		</p>

		<p>
			Password: <input type="password" name="password" placeholder="Password" />
		</p>

		<p>
			<input type="submit" value="Submit" />
		</p>

	</form>


</body>

</html>