<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Employee List</title>
</head>
<body>

<h1 class="header">List All Employees</h1>

<a th:href="@{/employees/add}" class="button">Add New Employee</a>


<table>
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="tempEmployee : ${employees}">
        <td th:text="${tempEmployee.lastName}"/>
        <td th:text="${tempEmployee.firstName}"/>
        <td th:text="${tempEmployee.email}"/>


        <td>
            <a th:href="@{/employess/update(employeeId=${tempEmployee.id})}">Update</a>
        </td>

    </tr>



    </tbody>
</table>


</body>
</html>